<!DOCTYPE html>
<html lang="en"><html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师端成绩修改</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/same.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aos.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/titleDown.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homefrom.css}">
    </link>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/Teacher/teacher_course_update.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/homefromInput.js}"></script>

</head>

<body>
    <div class="container-fluid thetop">
        <div class="navbar navbar-default" >
            <div class="col-md-6 col-sm-11"><img th:src="@{/img/index.png}"></div>
        </div>
        <div class="row titledown">
            <div class="col-md-12">
                <p>当前端口：教师端</p>
            </div>
        </div>
    </div>

    <div class="container-fluid mid">
        <div class="row notfoot">
            <div class="col-md-2 col-md-offset-1 sidebar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tab1"
                        style="background: black;">
                        <span class="sr-only">菜单</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav nav-pills navbar-collapse collapse" id="tab1" role="tablist">
                    <li role="presentation"><a th:href="@{/toTeacherMsg}">个人信息</a></li>
                    <li role="presentation"  class="active"><a th:href="@{/toTeacherCourse}">查看授课课程</a></li>
                    <!-- <li role="presentation"><a href="grade.html">查看成绩</a></li>
                    <li role="presentation"><a href="chooseclass.html">选课系统</a></li> -->
                    <li role="presentation"><a th:href="@{/logout}">退出登录</a></li>
                </ul>
            </div>

            <div class="col-md-9">
                <form class="form-horizontal" role="form">
                    <!--<fieldset disabled>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputWarning">成绩</label>
                        <div class="col-sm-10">
                            <input class="form-control editok" id="inputWarning" type="text" value="">
                        </div>
                    </div>
                   
                    <!--</fieldset>-->
                    <div class="row">
                        <button type="button" class="btn btn-info" id="edit" style="margin-left: 35%;">编辑</button>

                        <button type="button" class="btn btn-danger" id="back"
                            style="position: absolute; margin-left:40px">提交</button>
                    </div>
                </form>

            </div>
        </div>

        <footer class="row">
            <div class="bottom" id="low">
                <div class="col-md-5">
                    <div class="panel-body">
                        <a href="teacher-msg.html">个人信息</a>
                        <a href="teacher-course.html">查看授课课程</a>
                        <!-- <a href="research.html">查看成绩</a>
                        <a href="Undergraduate.html">选课系统</a> -->
                        <a href="../login.html" id="only">退出登录</a>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset--1" style="background: black;">
                    <p class="text-right">
<!--                                                小组成员：李坤松、薛成、刘佳鑫、陈天生、董天识、张敖铭-->
                        小组成员：李坤松、薛成、李世龙
                        <br>
                        项目名: <a href="# ">LXLDCZ教学信息管理平台</a>
                    </p>
                </div>
            </div>

        </footer>

    </div>


</body>

</html>